<meta name="google-site-verification" content="PR1vYF_Y-d6T4qwhD63BkjGGDQyXgI7hjPNSbUQnYP0"/>
<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Tutorial</h3>
    <div class="row g-5 mb-5">
      <div class="col-md-7">
        <h4>Md Babul Islam</h4> 
        <p>Researcher | &nbsp; University of Calabria</p>
        <p> ICT | &nbsp; Cosenza, Calabria, Italy</p>
        <!-- <p>Phone: +34 xxx xx xx xx </p> -->
        <p>Email: &nbsp; <b>babulcseian@gmail.com | &nbsp mdbabul.islam@dimes.unical.it</b></p>
        <!-- <p>Office: xxxxx </p> -->
      </div>
      <div class="col-md-5">
        <img src="{{ site.github.url }}/assets/img/Unical and CNR .jpg" alt="Tutorial" width="100%">
      </div>



<div style="margin-bottom: 100px;">
        <h2 style="color: #333;">2024</h2>
        <div style="padding: 10px; border-left: 4px solid #333; margin-left: 10px;">
            <h3 style="margin: 0; font-size: 1.2em;">FAIR General Conference</h3>
            <p style="margin: 0; color: #666;">1st Future Artificial Intelligence Research (FAIR) general conference</p>
            <p style="margin: 0; color: #666; font-size: 0.9em;">Sep 23, 2024 10:00 AM · Napoli, Italy</p>
            <button style="margin-top: 5px; padding: 5px 10px; font-size: 0.9em; background-color: #007bff; color: white; border: none; border-radius: 5px;">Slides</button>
        </div>
    </div>





    <div style="margin-bottom: 70px;">
        <h2 style="color: #333;">2023</h2>
        <div style="padding: 10px; border-left: 4px solid #333; margin-left: 10px;">
            <h3 style="margin: 0; font-size: 1.2em;">DS 2023</h3>
            <p style="margin: 0; color: #666;">26th international conference on Discovery Science (DS23)</p>
            <p style="margin: 0; color: #666; font-size: 0.9em;">Oct 9, 2023 10:30 AM · Porto, Portugal</p>
            <button style="margin-top: 5px; padding: 5px 10px; font-size: 0.9em; background-color: #007bff; color: white; border: none; border-radius: 5px;">Slides</button>
        </div>
    </div>
      
    </div>
  </div>
</div>

<body style="font-family: Arial, sans-serif; max-width: 600px; margin: auto;">

<!--     <h1 style="text-align: center;">Recent Talks</h1> -->

    

 -->

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recent Talks</title>
</head>

</html> -->
