---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-15">
    <h3 class="fw-bold">About Babul</h3>
  <img src="{{ site.github.url }}/assets/img/Md Babul Con.jpg" alt="Home" width="20%" width="20" title="MSc Graduation" style="float:left; margin-right:10px; margin-bottom:3px; border: solid black 1px; padding=2px">
     <p align="justify"> A research enthusiast, pursuing a Doctor of Philosophy (Ph.D.) with a fully-funded scholarship at the <a class="other" href='https://dottorato.dimes.unical.it/students/md-babul-islam'>School of ICT, University of Calabria</a> (Cosenza, Italy) 
       and <a class="other" href='https://www.ucd.ie/'>University of College Dublin (UCD), Ireland</a>. 
       Mr. Babul has accomplished his master's degree at the School of Information Engineering, Huzhou University, Hangzhou, China. 
       Also, he completed his B.Sc. in Computer Science and Engineering from City University, Bangladesh. 
       Furthermore, he had work experience as a lecturer at the Micro Institute of Technology from March 2018 to September 2019. 
       Besides, Mr. Islam carried out a job as a data scientist at Zhejiang Seating Technology in China for more than two years. 
       His interest is in the teaching profession, and he prefers to spend the majority of his time on research. 
       He loves to share knowledge, so he decided to maintain a technical background. He enjoys immersing himself in novel knowledge. 
       My broad area of research interest is in the domain of <strong>Machine Learning (ML)</strong>, <strong>Deep Learning(DL)</strong>, <strong>IoT Energy Efficiency</strong>, <strong>Graph Neural Network</strong>, <strong>Federated Learning</strong>, <strong>Bioinformatics</strong>, and <strong> IoT Healthcare</strong>. 
       
       My Ph.D degree, supervised by <a class="other" href='https://www.icar.cnr.it/persone/guerrieri/'> Dr. Antonio Guerrieri</a>, Raffaele Gravina, Declan Delaney and Giancarlo Fortino.</p> 
    <p align="justify"> 
 <strong> PhD Research Project: "Machine Learning Techniques for IoT-driven Cognitive Sustainable Environment". </strong> <br>

In my PhD, I am working on various Datasets. Below are described in detail: </p>
First and foremost, I work on the real-time Dataset of smart buildings from Omnia Energia.</p>
Omnia Dataset descriptions: .....</p>
Secondly, I have worked on ICAR CNR IoT Smart Laboratory Data.</p> 
Data Description: </p>

    Last but not least, I have worked on the ISON Project at University College Dublin, Ireland. </p>
    Project and Data Description: </p>
      
I am working on ML techniques to IoT, Smart Cities/ Smart Buildings/Smart Healthcare with the aim of providing the community with new instruments for optimizing energy consumption in IoT Systems.</p>
My future dream project: <a class="other" href='https://babulcseian.github.io/lab'>Applied Bahari Big Data Research House</a></p>
    <!-- Before that and in the same college, I got my master's degree in Multimedia and Communications, as well as the master's degree in Telecommunications engineering in 2017. Previously, I finished my Telecommunications Engineering bachelor's degree from Universidade de Vigo in 2015. -->

  </div>
  <div class="col-md-5">
    <br>
    <img src="{{ site.github.url }}/assets/img/Md Babul Con.jpg" alt="Home" width="70%" width="400" title="MSc Graduation"  >
    <img src="{{ site.github.url }}/assets/img/Md Babul Islam with Prof.jpg" alt="Home" width="70%">
    <img src="{{ site.github.url }}/assets/img/Md Babul Islam Lab.jpg" alt="Home" width="70%">
    <p style="font-size:12px">
      Location: <a class="other" href='https://goo.gl/maps/hsu2JB4HwjQN7TqC7'>Unical, Cosenza, Calabria,Italy</a>.
    </p>
  </div>
</div>


{% include news.html %}

<!--
<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>
-->
