---
layout: default
---
<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold">About Babul Islam</h3>
    <p align="justify"> A research enthusiast, pursuing a Doctor of Philosophy (Ph.D.) with a fully-funded scholarship at the <a class="other" href='https://dottorato.dimes.unical.it/students/md-babul-islam'>School of ICT, University of Calabria</a> (Cosenza, Italy)  
Mr. Babul has accomplished his master's degree at the School of Information Engineering, Huzhou University, Hangzhou, China. 
Also, he completed his B.Sc. in Computer Science & Engineering from City University, Bangladesh.
Furthermore, he had work experience as a lecturer at the Micro Institute of Technology from March 2018 to September 2019.
Besides, Mr. Islam is carrying out a job as a data scientist at Zhejiang Seating Technology in China.
He took study leave for his higher degree. His interest is in the teaching profession, and he prefers to spend the majority of his time on research.
    He loves to share knowledge and so decided to maintain a technical background.
He enjoys immersing himself in novel knowledge. \br
My broad area of research/interest is the domain of <strong>Machine Learning</strong>, <strong>ML IoT Sensor Data</strong>,   <strong>Machine Learning</strong>, <strong>RL. FL</strong>, 
IoT Healthcare Bioinformatics.In the PhD degree, supervised by <a class="other" href='https://www.icar.cnr.it/persone/guerrieri/'> Dr. Antonio Guerrieri</a>., Raffaele Gravina and Giancarlo Fortino </p>  
    My lab  <a class="other" href='https://github.com/babulcseian/babulcseian.github.io/blob/main/Applied%20Bahari%20Big%20Data%20Research%20House/index.html'>Applied Bahari Big Data Research House</a>
    <!-- Before that and in the same college, I got my master's degree in Multimedia and Communications, as well as the master's degree in Telecommunications Engineering in 2017. Previously, I finished my Telecommunications Engineering bachelor's degree from Universidade de Vigo in 2015. -->
  </p>
  </div>
  <div class="col-md-5">
    <br>
    <img src="{{ site.github.url }}/assets/img/Babul.jpg" alt="Home" width="100%" height="100%">
    <img src="{{ site.github.url }}/assets/img/Babul.jpg" alt="Home" width="30%" height="30%">
    <p style="font-size:12px">
      Location: <a class="other" href='https://goo.gl/maps/hsu2JB4HwjQN7TqC7'>Unical, Cosenza, Calabria,Italy</a>.
    </p>
  </div>
</div>


{% include news.html %}

<!--
<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>
-->
