---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold">About Babul</h3>
    <p align="justify"> Currently, Mr Babul is carrying out his Ph.D. at the <a class="other" href='https://dottorato.dimes.unical.it/students/md-babul-islam'>School of ICT, University of Calabria</a> (Cosenza, Italy)  
Mr. Babul has accomplished his master's degree at the School of Information Engineering, Huzhou University, Hangzhou, China. 
Also, he completed his B.Sc. in Computer Science & Engineering from City University, Bangladesh. 
Furthermore, he had work experience as a lecturer at the Micro Institute of Technology from March 2018 to September 2019. 
Besides, Mr. Islam is carrying out a job as a data scientist at Zhejiang Seating Technology in China. 
He took study leave for his higher degree. His interest is in the teaching profession, and he prefers to spend the majority of his time on research. 
He enjoys immersing himself in novel knowledge.

Research Direction 
Data Science 
Machine Learning
IoT Smart Building Management
IoT Healthcare 
Bioinformatics <a class="other" href='https://jmiguez.webs.tsc.uc3m.es/'>Dr. Joaquín Míguez</a>. </p>     
    <!-- Before that and in the same college, I got my master's degree in Multimedia and Communications, as well as the master's degree in Telecommunications engineering in 2017. Previously, I finished my Telecommunications Engineering bachelor's degree from Universidade de Vigo in 2015. -->
    
    <p>My <strong>research interests</strong> are focused on signal processing, data assimilation and computational statistics. More specifically, I am interested in Bayesian inference in state-space models. I work on providing new techniques that run recursively (online) with a reduced computational complexity (compared to the state-of-the-art methods) in order to obtain both parameter and state estimates. I'm also interested in the application of these probabilistic methods in different fields of science such as ecology, energy, geoscience and climate. </p>
  </div>
  <div class="col-md-5">
    <br>
    <img src="{{ site.github.url }}/assets/img/Babul.jpg" alt="Home" width="100%" height="100%">
    <p style="font-size:12px">
      Location: <a class="other" href='https://goo.gl/maps/hsu2JB4HwjQN7TqC7'>Unical, Cosenza, Calabria,Italy</a>.
    </p>
  </div>
</div>


{% include news.html %}

<!--
<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>
-->
