---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Teaching</h3>
    <h3 class="fw-bold border-bottom pb-3 mb-5">MyLab</h3>
    <h4>Micro Institute of Technology-(2018/19)</h4>
    {% for item in site.data.teaching_data %}
      {% if item.place == "carlos" and item.year == "2018-2019" %}  
        <p>{{ item.name }}. {{ item.degree }}.</p>
      {% endif %}
    {% endfor %}
    <h4>San Aibin Artificial Intelligent Education</h4>
    <h5>2020-2021</h5>
    {% for item in site.data.teaching_data %}
      {% if item.place == "carlos" and item.year == "2020-2021" %}  
        <p>{{ item.name }}. {{ item.degree }}.</p>
      {% endif %}
    {% endfor %}
  </div>
</div>
